h1 {
  margin-top: 1em;
}

p#caption {
  font-size: 150%;
  font-weight: bold;
  clear: both;
  margin: 1em 0;
}
#image{
  width: 600px;
  height: 450px;
  object-fit: cover;
  padding: 25px;
  box-sizing: border-box;
  border: 15px solid rgb(91, 7, 126);
  margin: 20px;
background-image:linear-gradient(#f7a4f8, #f8d9fa), linear-gradient(#eebfeb, #e196f0, #edbff5);

}
